.header {
    padding: 5px;
    background: rgb(23, 25, 38);
    color: white;
    font-size: 5px;

}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;




}

.content {
    padding: 5px;
    background-color: white;
    color: black;
    font-size: 10px;
    align-items: center;
    width: 1000px;
    margin: auto;
}

.h3 {
    padding: 5px;
    margin: auto;
    color: white;
    border: 10px;
    border-radius: 10px;
    background-color: orange;
    width: 80px;
}

.w3-medium.w3-section {
    display: ruby-text;
}

.h2 {
    padding: 5px;
    margin: auto;
    border: 10px;
    border-radius: 10px;
    width: 80px;
}

.h1 {
    color: white;
    font-size: 100px;
    font-weight: bolder;
    padding-left: 450px;
    padding-top: 100px;

}

.h {
    color: white;
    padding-left: 450px;

}

.div1 {
    margin-left: 450px;
    color: white;
    border: 50px;
    border-radius: 5px;
    background-color: orange;
    width: 300px;
    height: 50px;
    text-align: center;





}