* {
  padding: 0;
  margin: 0;
}

.social {
  padding-right: 20%;
  padding-left: 15%;
  background: #161825;
  color: white;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.fa {
  padding: 7px;
  width: 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}


.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #ffffff;
  color: #161825;
}

.fa-twitter {
  background: #ffffff;
  color: #161825;
}

.fa-linkedin {
  background: #ffffff;
  color: #161825;
}

.fa-instagram {
  background: #ffffff;
  color: #161825;
}

.head {
  filter: drop-shadow(0.366px 2.978px 20px rgba(13,3,3,0.16));
  padding-right: 75px;
  padding-left: 30px;
  margin-left: 15%;
  background-color: white;
  color: black;
  font-size: 15px;
  height: 100px;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.navigation {
  gap: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 2rem;
}

nav a {
  border: 1px solid transparent;
  padding: 0px 20px;
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav a.active {
  overflow: hidden;
  padding: 12px 20px;
  color: #ffffff;
  border: #ff9900;
  border-radius: 5px;
  background-color: #ff9900;
}

nav a:hover {
  color: #ff9900;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 0px solid #ccc;
  border-radius: 0px;
  box-sizing: border-box;
}



.Traktor img {
  padding-left: 1530px;
  position: absolute;
  padding-top: 97px;
}
.Truck {
  padding-left: 50px;
  position: absolute;
  padding-top: 163px;
}


.Box1 {
  background-color: #ffffff;
  height: 450px;
  width: 700px;
  margin-left: 220px;
  padding-left: 65px;
  padding-bottom: 18px;
  display: grid;
}
.grid-item1 {
  grid-area: 1/ 1/ 3/ 2;
  width: 690px;
  height: 490px;
  filter: drop-shadow(0 0 9px rgba(22,22,23,0.11));
}
.grid-item2 {
  grid-area: 1 / 2/ 3/2;
  filter: drop-shadow(0 0 9px rgba(22,22,23,0.11));
}
.map img {
  height: 469px;
  width: 700px;
  position: absolute;
  max-width: 100%;
  top: -486px;
  display: flex;
}
body {
  background-color: #fafafa;
}

.Name {
  margin-top: 20px;
  padding-right: 75px;
  font-family: poppins;
  filter: drop-shadow(0 0 9px rgba(22,22,23,0.11));
  
}
.Phone {
  margin-top: 20px;
  padding-right: 75px;
  font-family: Poppins;
  filter: drop-shadow(0 0 9px rgba(22, 22, 23, 0.11));
}
.Email {
  margin-top: 20px;
  padding-right: 75px;
  font-family: poppins;
  filter: drop-shadow(0 0 9px rgba(22,22,23,0.11));
}
.Message {
  margin-top: 20px;
  padding-right: 75px;
  font-family: poppins;
  filter: drop-shadow(0 0 9px rgba(22,22,23,0.11));
  height: 500px;

}
.myButton {
  background-color: #fe9901;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Poppins;
  font-size: 17px;
  padding: 12px 30px;
  text-decoration: none;
  font-weight: 700px;
  width: 56px;
  height: 22px;
  text-align: center;
  margin-top: -75px;
  margin-left: 285px;
  position: absolute;
  line-height: 30px;
}
.myButton:active {
  position: absolute;
  top: 1px;
}
.map {
  position: relative;
}
#yname {
    height: 100px;
    
}