.Traktor img {
    padding-left: 1130px;
    position: absolute;
    padding-top: 3px;
}
.Truck img {
    padding-left: 50px;
    position: absolute;
    padding-top: 73px;
}
h1 {
    text-align: left;
    padding-left: 220px;
    padding-top: 50px;
    font-family: raleway;
}
.Box1 {
    background-color: #ffffff;
    height: 350px;
    width: 200px;
    padding-left: 320px;
    margin-left: 220px;
    
}
.map img {  
    padding-left: 200px;
    height: 350px;
    
    
}
body {
    background-color: #fafafa;
}