

.caption {
    text-align: center;
}

h3 {
    color: #ffffff;
}

.staff1 {
    display: inline-block;
    width: 175px;
    height: 75px;
    border-radius: 4px;
    background-color: #fe9901;
    text-align: center;
}

.staff2 {
    display:inline-block;
    width: 175px;
    height: 75px;
    border-radius: 4px;
    background-color: #fe9901;
    text-align: center;
}

.staff3 {
    display:inline-block;
    width: 175px;
    height: 75px;
    border-radius: 4px;
    background-color: #fe9901;
    text-align: center;
}

.staff4 {
    display:inline-block;
    width: 175px;
    height: 75px;
    border-radius: 4px;
    background-color: #fe9901;
    text-align: center;
}
.fa {
    padding: 5px;
    font-size: 5px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #ffffff;
    color: #fe9901;
 }

.fa-twitter {
    background: #ffffff;
    color: #fe9901;
}

.fa-linkedin{
    background: #ffffff;
    color: #fe9901;
}

.fa-instagram{
    background: #ffffff;
    color: #fe9901;
}