

html, body{
	margin: 0;
}
  
.social {
    padding-right: 20%;
    padding-left: 15%;
    background: #161825;
    color: white;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", sans-serif;
}
.social
.fa {
    padding: 7px;
    width: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .social
.fa:hover {
    opacity: 0.7;
}
  .social
.fa-facebook {
    background: #ffffff;
    color: #161825;
  }
  .social
.fa-twitter {
    background: #ffffff;
    color: #161825;
  }
  .social
.fa-linkedin {
    background: #ffffff;
    color: #161825;
  }
  .social
.fa-instagram {
    background: #ffffff;
    color: #161825;
 }

.head {
    filter: drop-shadow(0.366px 2.978px 20px rgba(13,3,3,0.16));
    padding-right: 75px;
    padding-left: 30px;
    margin-left: 15%;
    background-color: white;
    color: black;
    font-size: 15px;
    height: 100px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", sans-serif;
}
  
.navigation {
    gap: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", sans-serif;
}
  
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
  
nav li {
    margin-right: 2rem;
}
  
nav a {
    border: 0px solid transparent;
    padding: 0px 20px;
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease;
}
  
nav a.active {
    overflow: hidden;
    padding: 12px 20px;
    color: #ffffff;
    border-radius: 5px;
    background-color: #ff9900;
}
  
nav a:hover {
    color: #ff9900;
}

.caption {
    padding-top: 50px;
    text-align: center;
    font-family: Raleway;
}

.comment {
    margin-top: 0px;
    font-family: open sans;
    text-align: center;
    padding-bottom: 50px;
}

.boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-left: 8%;
    padding-right: 8%;
}

.workers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    top: -3.5px;
    position: relative;
}


h3 {
    color: #ffffff;
    font-size: 15px;
}

img {
    width: 150px;
    height: 150px;
    background-color: #ffffff;
}

.work1 {
    position: relative;
    width: 200px;
    height: 200px;
    filter: drop-shadow(0 0 125px rgba(3,3,3,0.15));
    background-color: #ffffff;
    justify-content: center;
    display:flex;
}

.work1 img {
    align-self: flex-end;
}

.work2 {
    position: relative;
    width: 200px;
    height: 200px;
    filter: drop-shadow(0 0 125px rgba(3,3,3,0.15));
    background-color: #ffffff;
    justify-content: center;
    display:flex;
}

.work2 img {
    align-self: flex-end;
}

.work3 {
    position: relative;
    width: 200px;
    height: 200px;
    filter: drop-shadow(0 0 125px rgba(3,3,3,0.15));
    background-color: #ffffff;
    justify-content: center;
    display:flex;
}

.work3 img {
    align-self: flex-end;
}

.work4 {
    position: relative;
    width: 200px;
    height: 200px;
    filter: drop-shadow(0 0 125px rgba(3,3,3,0.15));
    background-color: #ffffff;
    justify-content: center;
    display:flex;
}

.work4 img {
    align-self: flex-end;
}

.staff1 {
    font-family: open sans;
    margin-top: -3.5px;
    font-size: 20px;
    width: 250px;
    height: 100px;
    border-radius: 2px;
    background-color: #fe9901;
    text-align: center;
}


.staff2 {
    font-family: open sans;
    font-size: 20px;
    margin-top: -3.5px;
    width: 250px;
    height: 100px;
    border-radius: 2px;
    background-color: #fe9901;
    text-align: center;
}

.staff3 {
    font-family: open sans;
    font-size: 20px;
    margin-top: -3.5px;
    width: 250px;
    height: 100px;
    border-radius: 2px;
    background-color: #fe9901;
    text-align: center;
}

.staff4 {
    font-family: open sans;
    font-size: 20px;
    margin-top: -3.5px;
    width: 250px;
    height: 100px;
    border-radius: 2px;
    background-color: #fe9901;
    text-align: center;
}
.fa {
    padding: 10px;
    font-size: 10px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #ffffff;
    color: #fe9901;
 }

.fa-twitter {
    background: #ffffff;
    color: #fe9901;
}

.fa-linkedin{
    background: #ffffff;
    color: #fe9901;
}

.fa-instagram{
    background: #ffffff;
    color: #fe9901;
}

.see-more {
	background-color:#1b1b1a;;
	border-radius:3px;
	cursor:pointer;
	color:#ffffff;
	font-family:open sans;
	font-size:12px;
	font-weight:bold;
	padding:15px 40px;
	text-decoration:none;
    position:relative;
    top:100px;
    margin-left: 50%;
    left: -63px;
}

.see-more:active {
	position:relative;
	top:101px;
}
