body {
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%
}

.why {
    display: inline-block;
    width: 400px;
    height: 100px;
    padding: 5px;
    padding-bottom: 50px;
}

.writing {
    padding-left: 10%;
    padding-top: 30px;
}


h1 { 
    font-family: Raleway;
    font-size: 40px;
    font-weight: heavy;
}

p {
    font-family: open sans;
}

.square-1 {
    width: 147px;
    height: 129px;
    border-radius: 4px;
    background-color: #ffffff;
    display: inline-block;
    margin-left: 10%;
    border-radius: 5px;
}

.square-1 img {
    padding-top: 30px;
    margin: auto;
    display: block;
}

.square-2 {
    width: 147px;
    height: 129px;
    border-radius: 4px;
    background-color: #fe9901;
    display: inline-block;
    margin-left: 2%;
    margin-top: 86px;
    border-radius: 5px
}

.square-2 img {
    padding-top: 30px;
    margin: auto;
    display: block;
}

.square-3 {
    width: 147px;
    height: 129px;
    border-radius: 4px;
    background-color: #ffffff;
    display: inline-block;
    margin-left: 2%;
    margin-top: 86px;
    border-radius: 5px
}
.square-3 img {
    padding-top: 30px;
    margin-left: 30%;
    display: block;
}

.client-satisfaction {
    position: relative; 
    top: -8px;
    font-size: 17px;
    text-transform: uppercase;
    font-family: Raleway;
    padding-left: 9%;
    display: inline-block;
    font-weight: hard;
    color: #0e0e0e;
    line-height: 35px;
}

.Award {
    position: relative; 
    top: -8px;
    font-size: 17px;
    text-transform: uppercase;
    font-family: Raleway;
    padding-left: 3.5%;
    display: inline-block;
    font-weight: hard;
    color: #0e0e0e;
    line-height: 35px;
}

.trustable {
    position: relative; 
    top: -8px;
    font-size: 17px;
    text-transform: uppercase;
    font-family: Raleway;
    padding-left: 5.5%;
    display:inline-block;
    font-weight: hard;
    color: #0e0e0e;
    line-height: 35px;
}