body {
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%
}

.why {
    display: inline-block;
    width: 300px;
    height: 100px;
    padding: 5px;
    padding-bottom: 50px;
}

.writing {
    padding-left: 10%;
    padding-top: 30px;
}


h1 { 
    font-family: Raleway;
    font-size: 40px;
    font-weight: normal;
}

p {
    font-family: open sans;
}