h1 {
    font-size: 40px;
    line-height: 32px;
    font-weight: 600;
    font-family: Raleway;
    text-align: center;

}

p {
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
    text-align: center;
    font-family: raleway;

}

.Tracktor img {
    padding-left: 275px;
    padding-top: 30px;
    display: inline-block;
    position: absolute;
}

.Skywork img {
    padding-left: 725px;
    display: inline-block;
    position: absolute;
    padding-top: 30px;
}

.Painter img {
    padding-left: 1175px;
    display: inline-block;
    position: absolute;
    padding-top: 30px;
}

.Orangebubble img {
    padding-top: 650px;
    padding-left: 835px;
    display: inline-block;
    position: absolute;
}

.Blackbubble img {
    display: inline-block;
    position: absolute;
    padding-left: 965px;
    padding-top: 650px;
}

.Larrow img {
    display: inline-block;
    position: absolute;
    padding-left: 878px;
    padding-top: 692px;
}

.Rarrow img {
    display: inline-block;
    position: absolute;
    padding-left: 1010px;
    padding-top: 692px;
}

.text1 {
    position: absolute;
    top: 605px;
    left: 350px;
    width: 100%;
    margin: 0 auto;
    width: 300px;
    height: 50px;
    color: #fffcf4;
    size: 31px;
    font-family: raleway;
    line-height: 35px;
    font-weight: 400;

}

.background {
    position: absolute;
    top: 475px;
    left: 733px;
    width: 100%;
    margin: 0 auto;
    width: 300px;
    height: 50px;
    
    size: 31px;
    font-family: raleway;
    line-height: 27px;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
    height: 268px;
    width: 435px;
    z-index: 1;
    opacity: 70%;
    
}


.text3 {
    position: absolute;
    top: 605px;
    left: 1250px;
    width: 100%;
    margin: 0 auto;
    width: 300px;
    height: 50px;
    color: #fffcf4;
    size: 31px;
    font-family: raleway;
    line-height: 35px;
    font-weight: 400;
}

h3 {
    font-size: 25px;
    margin-left: 25px;
    color: #000000;
    font-family: raleway;
 }
h4 {
    margin-left: 25px;
    font-family: raleway;
    font-size: 17px;
    margin-top: 46px;
    color: #252525;
}