* {
    padding: 0;
    margin: 0;
}
  
.social {
    padding-right: 18%;
    padding-left: 15%;
    background: #161825;
    color: white;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", sans-serif;
}
  
.fa {
    padding: 5px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
  
.fa:hover {
    opacity: 0.7;
}
  
.fa-facebook {
    background: #ffffff;
    color: #161825;
}
  
.fa-twitter {
    background: #ffffff;
    color: #161825;
}
  
.fa-linkedin {
    background: #ffffff;
    color: #161825;
}
  
.fa-instagram {
    background: #ffffff;
    color: #161825;
}
  
.head {
    filter: drop-shadow(0.366px 2.978px 20px rgba(13,3,3,0.16));
    padding-right: 75px;
    padding-left: 30px;
    margin-left: 15%;
    background-color: white;
    color: black;
    font-size: 15px;
    height: 100px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", sans-serif;
}
  
.navigaation {
    gap: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", sans-serif;
}
  
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
  
nav li {
    margin-right: 2rem;
}
  
nav a {
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease;
}
  
nav a.active {
    padding: 12px 20px;
    width: 50px;
    height: 50px;
    color: #ffffff;
    border: #ff9900;
    border-radius: 5px;
    background-color: #ff9900;
}
  
nav a:hover {
    color: #ff9900;
}


h1 {
    font-size: 40px;
    line-height: 32px;
    font-weight: 600;
    font-family: Raleway;
    text-align: center;

}

p {
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
    text-align: center;
    font-family: raleway;

}

.Tracktor img {
    padding-left: 275px;
    padding-top: 30px;
    display: inline-block;
    position: absolute;
}

.Skywork img {
    padding-left: 725px;
    display: inline-block;
    position: absolute;
    padding-top: 30px;
}

.Painter img {
    padding-left: 1175px;
    display: inline-block;
    position: absolute;
    padding-top: 30px;
}

.Orangebubble img {
    padding-top: 650px;
    padding-left: 835px;
    display: inline-block;
    position: absolute;
}

.Blackbubble img {
    display: inline-block;
    position: absolute;
    padding-left: 965px;
    padding-top: 650px;
}

.Larrow img {
    display: inline-block;
    position: absolute;
    padding-left: 878px;
    padding-top: 692px;
}

.Rarrow img {
    display: inline-block;
    position: absolute;
    padding-left: 1010px;
    padding-top: 692px;
}

.text1 {
    position: absolute;
    top: 605px;
    left: 350px;
    width: 100%;
    margin: 0 auto;
    width: 300px;
    height: 50px;
    color: #fffcf4;
    size: 31px;
    font-family: raleway;
    line-height: 35px;
    font-weight: 400;

}

.background {
    position: absolute;
    top: 475px;
    left: 733px;
    width: 100%;
    margin: 0 auto;
    width: 300px;
    height: 50px;
    
    size: 31px;
    font-family: raleway;
    line-height: 27px;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
    height: 268px;
    width: 435px;
    z-index: 1;
    opacity: 70%;
    
}


.text3 {
    position: absolute;
    top: 605px;
    left: 1250px;
    width: 100%;
    margin: 0 auto;
    width: 300px;
    height: 50px;
    color: #fffcf4;
    size: 31px;
    font-family: raleway;
    line-height: 35px;
    font-weight: 400;
}

h3 {
    font-size: 25px;
    margin-left: 25px;
    color: #000000;
    font-family: raleway;
 }
h4 {
    margin-left: 25px;
    font-family: raleway;
    font-size: 17px;
    margin-top: 46px;
    color: #252525;
}